:root {
  --primary: rgba(41, 41, 41, 1);
  --black-darker: rgba(25, 25, 25, 1);
  --white: rgba(255, 255, 255, 1);
  --border-color: rgba(230, 230, 230, 1);
  --secondary: rgba(117, 117, 117, 1);
  --green: rgba(26, 137, 23, 1);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  color: var(--primary);
}

h2 {
  color: var(--secondary);
  margin-top: 0.79rem;
  font-size: 22px;
}

h1 {
  margin-top: 2.05em;
  font-size: 22px;
}

.title {
  margin-top: 0.6em;
  font-size: 32px;
}

.container {
  max-width: 1500px;
  min-height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: 79px 5fr 2fr;
}

.content-container {
  min-height: 100vh;
}

.content {
  max-width: 692px;
  margin: auto;
  min-height: 100vh;
  padding: 0 40px;
}

.content-header-container {
  border-bottom: 1px solid var(--border-color);
}

.content-header {
  padding: 15px 40px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  max-width: 692px;
  margin: auto;
}

.content-header img {
  border-radius: 50%;
  margin-right: 20px;
  width: 32px;
}

.secondary-nav-container {
  border-left: 1px solid var(--border-color);
  min-height: 100vh;

  padding: 0 32px;

  position: sticky;
  top: 0;
  margin-top: 0;
}

.author {
  display: flex;
  align-items: center;
  margin: 56px 0 32px 0;
}

.author img {
  border-radius: 50%;
  width: 48px;
  margin-right: 16px;
}

.author-details {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border-right: 1px solid var(--border-color);
  position: sticky;
  height: 100vh;
}

.nav-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item {
  padding-bottom: 35px;
  cursor: pointer;
}

hr {
  height: 1px;
  background: var(--border-color);
}

.brand {
  width: 40px;
  padding: 40px 0;
  cursor: pointer;
}

.article p {
  margin-top: 2em;
}

.article p:first-of-type {
  margin-top: 0.86em;
}

.buttons-container {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.buttons-container .get-started {
  flex: 1;
  background: var(--black-darker);
  border-color: var(--black-darker);
  border-radius: 99em;
  color: var(--white);
  padding: 7px 16px 9px;
}

.buttons-container .sign-in {
  color: var(--green);
  background: none;
  margin-left: 24px;
}

.related-container {
  padding: 40px 0;
}

.search-container {
  border-radius: 20px;
  border: 1px solid var(--border-color);
  display: flex;
  overflow: hidden;
}

.search-container svg {
  padding: 7px 7px 6px 8px;
}

.search-container input {
  flex: 1;
}

.search-container input:focus {
  outline: none;
}

.related-author-container img {
  margin-top: 40px;
  border-radius: 50%;
}

.related-author-container h2 {
  color: var(--primary);
  margin-top: 16px;
}

.related-author-container p {
  margin-top: 4px;
  color: var(--secondary);
}

.related-author-container p:last-of-type {
  margin-top: 12px;
}

.subscription-buttons {
  margin-top: 24px;
  display: flex;
}

.subscription-buttons .follow-button {
  padding: 7px 16px 9px;
  line-height: 20px;
}

.subscription-buttons button {
  border-color: var(--green);
  background: var(--green);
  border-radius: 99em;
  color: var(--white);
  /* fill: var(--white); */
}

.subscription-buttons .subscription-button {
  width: 36px;
  height: 36px;
  margin-left: 8px;
}

.subscription-buttons svg {
  stroke: var(--white);
}

.related-articles {
}

.related-articles h2 {
  color: var(--primary);
  margin: 40px 0 16px;
}

.related-items {
}

.related-articles .related-item {
  display: flex;
  margin-bottom: 20px;
}

.related-articles .related-item img {
  width: 58px;
  margin: 4px 8px 0 0;
}

.related-articles .related-item p {
  flex: 1;
}
