.secondary-nav-container {
  border-left: 1px solid var(--border-color);
  height: 100%;
}

.secondary-nav {
  min-height: 100vh;

  padding: 0 32px;

  position: sticky;
  top: 0;
  margin-top: 0;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-maps {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0;

  a {
    text-decoration: none;
    margin-right: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--secondary);
  }
}
